<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612438421763-td1v3jsr673sqs16v0i0bkvkmushgun3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612438421763-td1v3jsr673sqs16v0i0bkvkmushgun3</string>
	<key>API_KEY</key>
	<string>AIzaSyCK6rZYVSPJAeFEFI9IOkZ20cYxXkaGEug</string>
	<key>GCM_SENDER_ID</key>
	<string>612438421763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eyeVolve</string>
	<key>PROJECT_ID</key>
	<string>eyevolve-5cdac</string>
	<key>STORAGE_BUCKET</key>
	<string>eyevolve-5cdac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612438421763:ios:4ef11bba9c4f5c1ce6f936</string>
	<key>DATABASE_URL</key>
	<string>https://eyevolve-5cdac-default-rtdb.firebaseio.com</string>
</dict>
</plist>